h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    border:2px dashed black;
    animation:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}
body{
    border: royalblue 3px ridge;
    margin:50px;
    border-radius: 20px;
}
html{
    background-color: sandybrown;
}